%h2
  My Events
  %small #{events.count} total


- events.each_with_index do |event, index|
  .event
    %a{name: "pos-#{index}"}
    .pic #{image_tag event.pic}
    .description
      .name
        = link_to event.name, event.facebook_url
      .time
        = Time.at(event.start_time).strftime("%d. %m. %Y at %I:%M %p")
      .location
        Location:
        <strong>#{event.location}</strong>
      .friends
        <strong>#{event.friends_rsvp} friends</strong> are going.
    .rate
      %button{type:"button",class:"btn btn-default btn-lg"}
        RATE
        %br
        - (1..5).each do |i|
          %span{eid: event.id, rating: i, position: (index+1), class: 'rate-link'}
            - if event.rated?(i, current_user)
              %span.glyphicon.glyphicon-star{id: "#{event.id}-#{i}", eid: "#{event.id}", n: "#{i}", fixed: "1"}
            - else
              %span.glyphicon.glyphicon-star-empty{id: "#{event.id}-#{i}", eid: "#{event.id}", n: "#{i}"}

    .clearfix


:javascript
  $(".glyphicon").mouseover(function() {
    eid = $(this).attr('eid')
    n = $(this).attr('n')*1
    showStars(eid,n);
  }).mouseout(function() {
    eid = $(this).attr('eid')
    n = $(this).attr('n')*1
    hideStars(eid);
  });

  $(".rate-link").click(function() {
    rating = $(this).attr('rating')*1
    eid = $(this).attr('eid')*1
    position = $(this).attr('position')*1
    setFixed(eid,rating);
    console.log(rating + ", " + eid + " ," + position)
    setRating(eid,rating,position)

  });

  function setFixed(eid,n) {
    console.log("asdf ")
    for(var i=1; i<=n; i++) {
      $("#"+eid+"-"+i).attr("fixed", "1");
    }
    for(var i=(n+1); i<=5; i++) {
      $("#"+eid+"-"+i).attr("fixed", "0");
      hideStars(eid)
    }
  }

  function hideStars(eid) {
    for(var i=1; i<=5; i++) {
      if($("#"+eid+"-"+i).attr("fixed") != "1") {
        $("#"+eid+"-"+i).removeClass("glyphicon-star").addClass("glyphicon-star-empty")
      }
    }
  }

  function showStars(eid, n) {
    for(var i=1; i<=n; i++) {
      $("#"+eid+"-"+i).removeClass("glyphicon-star-empty").addClass("glyphicon-star")
    }
  }


  function setRating(eid,rating,position) {
    $.ajax({
      type: "GET",
      url: "/rate",
      data: { rating: rating, eid: eid, position: position },
      success: function() {
        console.log("Done.")
      },
      error: function() {
        console.log("Some error.")
      }
    })
  }






