/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 */

.event
  padding: 10px 0

  &:hover
    background-color: #ededed

  .pic
    float: left
    margin: 0 10px
  .description
    float: left
    width: 75%
  .rate
    float: left
    line-height: 100px

    a
      color: inherit
      text-decoration: none

