!!!
%html
  %head
    %title= content_for?(:title) ? "FbEvents - #{yield(:title)}" : "FbEvents"

    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application", current_user: current_user
    = csrf_meta_tags

  %body
    .container

      %h1 Fb Events

      %p
        - if current_user
          Signed in as
          %strong
            = current_user.name
          = link_to "Sign out", signout_path, id: "sign_out"
        - else
          = link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in"

      - if current_user
        .sync
          %p
            %button.btn.btn-primary#sync Start Sync
            %span.loading.hidden
              = image_tag "loading.gif", height: '45px'
          .progress
            .progress-bar#progress{role:"progressbar", :'aria-valuenow' => "0", :'aria-valuemin' => "0", :'aria-valuemax' => "100", style: "width: 0%;"}

      #flash-display
        - flash.each do |type, msg|
          %div{:class => "alert alert-#{type == :notice ? "success" : type} fadeout", "data-dismiss" => "alert"}
            %button.close &times;
            = msg if msg.is_a?(String)



      = yield



      - if current_user
        :javascript

          var syncing = false;

          $(document).ready(function() {
            $("#sync").click(function() {
              if(!syncing) {
                setProgress(10)
                syncing = true;
                showLoading();
                syncEventMembers();
                //syncEvents();
                //countEventMembers();
              } else {
                alert("Staaph! Already syncing! Wait a moment please.")
              }
            })
          })

          function syncEventMembers() {
            $.ajax({
              type: "GET",
              url: "#{ENV['WORKER_URL']}/sync_fb_event_members",
              data: { user_id: #{current_user.id or nil} },
              success: function() {
                console.log("Done first.")
                setProgress(40)
                syncEvents();
              },
              error: function() {
                console.log("Some error first.")
                setProgress(40)
                syncEvents();
              }
            })
          }

          function syncEvents() {
            $.ajax({
              type: "GET",
              url: "#{ENV['WORKER_URL']}/sync_fb_events",
              data: { user_id: #{current_user.id or nil} },
              success: function() {
                console.log("Done second.")
                setProgress(70)
                countEventMembers();
              },
              error: function() {
                console.log("Some error 2.")
                setProgress(70)
                countEventMembers();
              }
            })
          }

          function countEventMembers() {
            $.ajax({
              type: "GET",
              url: "#{ENV['WORKER_URL']}/count_event_members",
              data: { user_id: #{current_user.id or nil} },
              success: function() {
                console.log("Done 3.")
                hideLoading();
                setProgress(100);
                document.location.reload(true);
              },
              error: function() {
                console.log("Some error 3.")
                hideLoading();
                setProgress(100);
                document.location.reload(true);
              }
            })
          }

          function showLoading() {
            $(".loading").removeClass('hidden');
          }

          function hideLoading() {
            $(".loading").addClass('hidden');
          }

          function setProgress(n) {
            $("#progress").animate({ width: (n+"%") },200);
          }


